In [25]:
import pandas as pd
import json

df=pd.read_json("C:/Users/Dileep Sathya/OneDrive/Desktop/Stock_AI_2.0/artifacts/hist_data.json")
df

             date    open    high     low   close   volume symbol
0      2000-01-03   14.66   15.10   14.60   14.94   167040   BHEL
1      2000-01-04   15.00   15.09   14.22   14.36   157259   BHEL
2      2000-01-05   13.67   14.80   13.67   14.12   159143   BHEL
3      2000-01-06   14.27   15.25   14.27   15.13   444673   BHEL
4      2000-01-07   15.00   15.27   14.34   14.47   402188   BHEL
...           ...     ...     ...     ...     ...      ...    ...
285163 2025-06-09  617.00  627.95  616.00  626.05    82259  SUNTV
285164 2025-06-10  635.05  649.90  623.10  627.05  1027524  SUNTV
285165 2025-06-11  630.00  630.50  621.10  624.65   184722  SUNTV
285166 2025-06-12  625.00  647.45  625.00  631.00   623271  SUNTV
285167 2025-06-13  627.00  635.00  615.30  619.30   208483  SUNTV

[285168 rows x 7 columns]

In [26]:
import pandas as pd



# Convert 'date' to datetime if not already
df['date'] = pd.to_datetime(df['date'])

# Sort by symbol and date
df = df.sort_values(by=['symbol', 'date'])

# Create previous day features by group
df['prev_day_open'] = df.groupby('symbol')['open'].shift(1)
df['prev_day_high'] = df.groupby('symbol')['high'].shift(1)
df['prev_day_low'] = df.groupby('symbol')['low'].shift(1)
df['prev_day_close'] = df.groupby('symbol')['close'].shift(1)
df['prev_day_volume'] = df.groupby('symbol')['volume'].shift(1)




df=df.dropna()
df=df.sort_index()
df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,prev_day_close,prev_day_volume
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,14.94,167040.0
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,14.36,157259.0
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,14.12,159143.0
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,15.13,444673.0
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,14.47,402188.0
...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,614.85,163218.0
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,626.05,82259.0
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,627.05,1027524.0
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,624.65,184722.0
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,631.00,623271.0

In [27]:
df['close'].describe()

count    285110.000000
mean        672.642639
std        2244.820391
min           0.260000
25%          53.300000
50%         147.170000
75%         441.600000
max       31748.800000
Name: close, dtype: float64

In [28]:
import numpy as np

def get_ltp_range(value, bucket_size=500):
    lower = (value // bucket_size) * bucket_size
    upper = lower + bucket_size
    return f"{int(lower)}-{int(upper)}"

df['ltp_range'] = df['close'].apply(get_ltp_range)

df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,prev_day_close,prev_day_volume,ltp_range
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,14.94,167040.0,0-500
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,14.36,157259.0,0-500
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,14.12,159143.0,0-500
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,15.13,444673.0,0-500
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,14.47,402188.0,0-500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,614.85,163218.0,500-1000
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,626.05,82259.0,500-1000
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,627.05,1027524.0,500-1000
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,624.65,184722.0,500-1000
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,631.00,623271.0,500-1000

In [29]:
df['ltp_range'].describe()

count     285110
unique        64
top        0-500
freq      219739
Name: ltp_range, dtype: object

In [30]:
import datetime as dt
df['month']=df['date'].dt.month
df['year']=df['date'].dt.year
df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,prev_day_close,prev_day_volume,ltp_range,month,year
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,14.94,167040.0,0-500,1,2000
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,14.36,157259.0,0-500,1,2000
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,14.12,159143.0,0-500,1,2000
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,15.13,444673.0,0-500,1,2000
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,14.47,402188.0,0-500,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,614.85,163218.0,500-1000,6,2025
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,626.05,82259.0,500-1000,6,2025
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,627.05,1027524.0,500-1000,6,2025
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,624.65,184722.0,500-1000,6,2025
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,631.00,623271.0,500-1000,6,2025

In [31]:
df['week']=df['date'].dt.weekday
df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,prev_day_close,prev_day_volume,ltp_range,month,year,week
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,14.94,167040.0,0-500,1,2000,1
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,14.36,157259.0,0-500,1,2000,2
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,14.12,159143.0,0-500,1,2000,3
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,15.13,444673.0,0-500,1,2000,4
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,14.47,402188.0,0-500,1,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,614.85,163218.0,500-1000,6,2025,0
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,626.05,82259.0,500-1000,6,2025,1
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,627.05,1027524.0,500-1000,6,2025,2
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,624.65,184722.0,500-1000,6,2025,3
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,631.00,623271.0,500-1000,6,2025,4

In [32]:
# 5 EMA
df['ema_5'] = df.groupby('symbol')['prev_day_close'].transform(lambda x: x.ewm(span=5, adjust=False).mean()).round(2)

# 20 EMA
df['ema_20'] = df.groupby('symbol')['prev_day_close'].transform(lambda x: x.ewm(span=20, adjust=False).mean()).round(2)

# 50 EMA
df['ema_50'] = df.groupby('symbol')['prev_day_close'].transform(lambda x: x.ewm(span=50, adjust=False).mean()).round(2)
df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,prev_day_close,prev_day_volume,ltp_range,month,year,week,ema_5,ema_20,ema_50
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,14.94,167040.0,0-500,1,2000,1,14.94,14.94,14.94
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,14.36,157259.0,0-500,1,2000,2,14.75,14.88,14.92
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,14.12,159143.0,0-500,1,2000,3,14.54,14.81,14.89
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,15.13,444673.0,0-500,1,2000,4,14.74,14.84,14.90
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,14.47,402188.0,0-500,1,2000,0,14.65,14.81,14.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,614.85,163218.0,500-1000,6,2025,0,624.03,629.31,630.38
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,626.05,82259.0,500-1000,6,2025,1,624.70,629.00,630.21
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,627.05,1027524.0,500-1000,6,2025,2,625.49,628.82,630.08
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,624.65,184722.0,500-1000,6,2025,3,625.21,628.42,629.87
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,631.00,623271.0,500-1000,6,2025,4,627.14,628.67,629.92

In [33]:
df['prev_prev_day_close'] = df.groupby('symbol')['close'].shift(2)
df['prev_day_pct_change'] = ((df['prev_day_close'] - df['prev_prev_day_close']) / df['prev_prev_day_close']) * 100
df['prev_day_pct_change'] = df['prev_day_pct_change'].round(2)
df

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,...,prev_day_volume,ltp_range,month,year,week,ema_5,ema_20,ema_50,prev_prev_day_close,prev_day_pct_change
1,2000-01-04,15.00,15.09,14.22,14.36,157259,BHEL,14.66,15.10,14.60,...,167040.0,0-500,1,2000,1,14.94,14.94,14.94,NaN,NaN
2,2000-01-05,13.67,14.80,13.67,14.12,159143,BHEL,15.00,15.09,14.22,...,157259.0,0-500,1,2000,2,14.75,14.88,14.92,NaN,NaN
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,...,159143.0,0-500,1,2000,3,14.54,14.81,14.89,14.36,-1.67
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,...,444673.0,0-500,1,2000,4,14.74,14.84,14.90,14.12,7.15
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,...,402188.0,0-500,1,2000,0,14.65,14.81,14.88,15.13,-4.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,...,163218.0,500-1000,6,2025,0,624.03,629.31,630.38,619.70,-0.78
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,...,82259.0,500-1000,6,2025,1,624.70,629.00,630.21,614.85,1.82
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,...,1027524.0,500-1000,6,2025,2,625.49,628.82,630.08,626.05,0.16
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,...,184722.0,500-1000,6,2025,3,625.21,628.42,629.87,627.05,-0.38
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,...,623271.0,500-1000,6,2025,4,627.14,628.67,629.92,624.65,1.02

In [ ]:
df=df.dropna()

,date,open,high,low,close,volume,symbol,prev_day_open,prev_day_high,prev_day_low,...,prev_day_volume,ltp_range,month,year,week,ema_5,ema_20,ema_50,prev_prev_day_close,prev_day_pct_change
3,2000-01-06,14.27,15.25,14.27,15.13,444673,BHEL,13.67,14.80,13.67,...,159143.0,0-500,1,2000,3,14.54,14.81,14.89,14.36,-1.67
4,2000-01-07,15.00,15.27,14.34,14.47,402188,BHEL,14.27,15.25,14.27,...,444673.0,0-500,1,2000,4,14.74,14.84,14.90,14.12,7.15
5,2000-01-10,15.00,15.27,13.54,14.69,368603,BHEL,15.00,15.27,14.34,...,402188.0,0-500,1,2000,0,14.65,14.81,14.88,15.13,-4.36
6,2000-01-11,14.34,14.86,13.70,14.12,309634,BHEL,15.00,15.27,13.54,...,368603.0,0-500,1,2000,1,14.66,14.80,14.87,14.47,1.52
7,2000-01-12,14.47,14.79,14.33,14.67,197771,BHEL,14.34,14.86,13.70,...,309634.0,0-500,1,2000,2,14.48,14.73,14.84,14.69,-3.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285163,2025-06-09,617.00,627.95,616.00,626.05,82259,SUNTV,620.00,622.65,610.60,...,163218.0,500-1000,6,2025,0,624.03,629.31,630.38,619.70,-0.78
285164,2025-06-10,635.05,649.90,623.10,627.05,1027524,SUNTV,617.00,627.95,616.00,...,82259.0,500-1000,6,2025,1,624.70,629.00,630.21,614.85,1.82
285165,2025-06-11,630.00,630.50,621.10,624.65,184722,SUNTV,635.05,649.90,623.10,...,1027524.0,500-1000,6,2025,2,625.49,628.82,630.08,626.05,0.16
285166,2025-06-12,625.00,647.45,625.00,631.00,623271,SUNTV,630.00,630.50,621.10,...,184722.0,500-1000,6,2025,3,625.21,628.42,629.87,627.05,-0.38
285167,2025-06-13,627.00,635.00,615.30,619.30,208483,SUNTV,625.00,647.45,625.00,...,623271.0,500-1000,6,2025,4,627.14,628.67,629.92,624.65,1.02